<mat-card class="contributors">
  <h1>Contributors</h1>
  <div class="contributorContainer">
    <div class="contributorItem" *ngFor="let item of contributors">
      <img *ngIf="item['logo']; else noLogo" src="{{ item['logo'] }}" alt="{{ item['name'] }}">
      <ng-template #noLogo>
        <div class="contributorName">{{ item['name'] }}</div>
      </ng-template>
    </div>
  </div>
</mat-card>
<div class="footerSpacer"></div>
<footer>
  <div class="footerContainer">
    <div>
      project advanced web technologies
    </div>
    <div>
      Berit Frech, Johannes Beyer, Anna Mockenhaupt
    </div>
  </div>
</footer>
