<div class="settings-frame col-3" *ngFor="let group of groups">
  <div class="content">
    <h4>{{group[0]}}</h4>
    <div class="singleSetting my-3" *ngFor="let setting of group[1] | keyvalue">
      <p>{{setting.key}}: </p>
      <div *ngIf="isBoo(setting.value)">
        <mat-checkbox [value]="setting.value"></mat-checkbox>
      </div>
      <div *ngIf="isGroup(setting.value)" class="SingleSubSetting ml-3">
        <div *ngFor="let sub of setting.value">
          <div *ngFor="let subset of sub | keyvalue">
            <p>{{subset.key}}: </p>
            <input *ngIf="isInput(subset.value)" [value]="subset.value">
            <mat-checkbox *ngIf="isBoo(subset.value)" [value]="subset.value"></mat-checkbox>
          </div>
        </div>
      </div>
      <div *ngIf="isInput(setting.value) && !isGroup(setting.value)">
        <input [value]="setting.value">
      </div>
    </div>
  </div>
</div>
