.accordionPanel {
  margin-top: 5px;
  display: inline-block;
}

h2 {
  margin: auto 0 !important;
}

.accordionPanel .mat-expansion-panel-header.mat-expanded {
  height: 48px !important;
}

.accordionPanel mat-accordion {
  margin-top: 15px;
  margin-bottom: 5px;
}

.accordionPanel mat-accordion .mat-expansion-panel {
  border-radius: 0 !important;
}

.SingleSubSetting label {
  display: flex;
  color: #707070;
}

.groupSubsetting {
  margin-bottom: 10px;
}

.settingsFrame {
  float: left;
}

.content {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 13px 13px 10px -10px rgba(130, 130, 130, 0.12);
  box-shadow: 13px 13px 10px -10px rgba(130, 130, 130, 0.12);
}

.radioButtonSettingGroup {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.info {
  margin-left: 5px;
  height: 12px;
  width: auto;
}

.setting {
  cursor: pointer;
  margin-top: 5px;
  height: 20px;
  -webkit-transition: -webkit-transform 2.0s ease-in-out;
  transition: transform 2.0s ease-in-out;
}

.setting:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
