<div id="columns">
  <div class="settings-frame" *ngFor="let group of groups">
    <div class="content">
      <h4>{{group[0]}}</h4>
      <div class="singleSetting my-3" *ngFor="let setting of group[1] | keyvalue">
        <div *ngIf="isBoo(setting.value) && !isGroup(setting.value)">
          <mat-checkbox [(ngModel)]="checked"
                        [labelPosition]="'after'">
            {{setting.key}}
          </mat-checkbox>
        </div>
        <div class="fields" *ngIf="isInput(setting.value) && !isGroup(setting.value)">
          <label>{{setting.key}}</label>
          <input type="text" name="{{setting.key}}" value="{{setting.value}}">
        </div>
        <div *ngIf="isGroup(setting.value)" class="SingleSubSetting my-3">
          <h5>{{setting.key}}</h5>
          <div *ngFor="let sub of setting.value">
            <div *ngFor="let subset of sub | keyvalue">
              <label>{{subset.key}}</label>
              <input *ngIf="isInput(subset.value)" type="text" name="{{subset.key}}" value="{{subset.value}}">
              <mat-checkbox *ngIf="isBoo(subset.value)"
                            [(ngModel)]="checked"
                            [labelPosition]="'after'">
                {{subset.key}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
