<div class="set-accordionPanel">
  <mat-accordion class="settingsFrame col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let group of groups">
    <mat-expansion-panel class="set-content">
      <mat-expansion-panel-header>
        <h2>{{group[0]}}</h2>
      </mat-expansion-panel-header>

      <div *ngIf="group[0] === 'INITIAL'">
        <mat-checkbox [(ngModel)]="checked"
                      [labelPosition]="'after'"
                      [matTooltip]="'Enable subtitle on loading text'"
                      [matTooltipPosition]="'after'"
                      (change)="updateTextDefaultEnabled(checked)">
          Enable Text At Loading
          <img class="set-info" alt="Info Icon with link to setting description" src="assets/images/question.png">
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="checked"
                      [labelPosition]="'after'"
                      [matTooltip]="'Force Text Streaming'"
                      [matTooltipPosition]="'after'"
                      (change)="updateEnableForcedTextStreaming(checked)">
          Force Text Streaming
          <img class="set-info" alt="Info Icon with link to setting description" src="assets/images/question.png">
        </mat-checkbox>

        <div class="fields">
          <label>Text:</label>
          <input class="set-initialText"
                 [type]="'text'"
                 [placeholder]="'text initial lang, e.g. \'en\''"
                 (change)="updateMediaSettings('lang', $event)">
          <input class="set-initialText"
                 [type]="'text'"
                 [placeholder]="'text initial role, e.g. \'caption\''"
                 (change)="updateMediaSettings('role', $event)">
          <label>Audio:</label>
          <input class="set-initialText"
                 [type]="'text'"
                 [placeholder]="'audio initial lang, e.g. \'en\''"
                 (change)="updateMediaSettings('audio', $event)">
          <label>Video:</label>
          <input class="set-initialText"
                 [type]="'text'"
                 [placeholder]="'video initial role, e.g. \'alternate\''"
                 (change)="updateMediaSettings('video', $event)">
        </div>
      </div>
      <div class=" singleSetting my-3" *ngFor="let setting of group[1] | keyvalue">
        <div *ngIf="isBoo(setting.value[0])">
          <mat-checkbox [(ngModel)]="checked"
                        [labelPosition]="'after'" (change)="update(setting.value[1], checked)">
            {{setting.key}}<a [matTooltip]="getApiDescription(group[0], setting.key)"
                              [matTooltipPosition]="'after'"
                              href="http://cdn.dashjs.org/latest/jsdoc/module-Settings.html"
                              target="_blank">
            <img class="set-info" alt="Info Icon with link to setting description" src="assets/images/question.png">
          </a>
          </mat-checkbox>
        </div>

        <div *ngIf="isInput(setting.value[0]) && !isLogLevel(setting.key)" class="fields">
          <label>{{setting.key}}<a [matTooltip]="getApiDescription(group[0], setting.key)"
                                   [matTooltipPosition]="'after'"
                                   href="http://cdn.dashjs.org/latest/jsdoc/module-Settings.html"
                                   target="_blank">
            <img class="set-info" alt="Info Icon with link to  setting description" src="assets/images/question.png">
          </a></label>
          <input #inputField [type]="(setting.value[0] !== 'null' ) ? 'number' : 'text'" name="{{setting.key}}"
                 value="{{setting.value[0]}}"
                 (change)="update(setting.value[1], inputField.value)">
        </div>

        <div *ngIf="isGroup(setting.value[1])" class="SingleSubSetting my-3">
          <h3>{{setting.key}}<a [matTooltip]="getApiDescription(group[0], setting.key)"
                                [matTooltipPosition]="'after'"
                                href="http://cdn.dashjs.org/latest/jsdoc/module-Settings.html"
                                target="_blank">
            <img class="set-info" alt="Info Icon with link to setting description" src="assets/images/question.png">
          </a></h3>
          <hr>
          <div *ngFor="let sub of setting.value">
            <div class="groupSubSetting" *ngFor="let subset of sub | keyvalue">
              <div *ngIf="isInput(subset.value[0])">
                <label>{{subset.key}}</label>
                <input #inputField [type]="(setting.value[0] !== 'null' ) ? 'number' : 'text'" name="{{subset.key}}"
                       value="{{subset.value[0]}}"
                       (change)="update(subset.value[1], inputField.value)">
              </div>
              <mat-checkbox *ngIf="isBoo(subset.value[0])"
                            [(ngModel)]="checked"
                            [labelPosition]="'after'" (change)="update(subset.value[1], checked)">
                {{subset.key}}
              </mat-checkbox>

              <div *ngIf="isRadio(subset.value[0]) && !isLogLevel(setting.key)" class="radio">
                <label class="Radio-Button-Settings">{{setting.key}}:</label>
                <p>TODO</p>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="isLogLevel(setting.key)" class="radio">
          <label class="Radio-Button-Settings">{{setting.key}}:<a
            [matTooltip]="getApiDescription(group[0], setting.key)"
            [matTooltipPosition]="'after'"
            href="http://cdn.dashjs.org/latest/jsdoc/module-Settings.html"
            target="_blank">
            <img class="set-info" alt="Info Icon with link to setting description" src="assets/images/question.png">
          </a></label>
          <mat-radio-group aria-labelledby="Radio-Button-Settings" class="set-radioButtonSettingGroup">
            <mat-radio-button *ngFor="let option of logLevels" [value]="option[0]" [checked]="option[1]"
                              (change)="updateLogLevel(option[0])">
              {{option[0]}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngIf="isRadio(setting.value[0]) && !isLogLevel(setting.key)" class="radio">
          <label class="Radio-Button-Settings">{{setting.key}}:<a
            [matTooltip]="getApiDescription(group[0], setting.key)"
            [matTooltipPosition]="'after'"
            href="http://cdn.dashjs.org/latest/jsdoc/module-Settings.html"
            target="_blank">
            <img class="set-info" alt="Info Icon with link to setting description" src="assets/images/question.png">
          </a></label>
          <p>TODO</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>



