table {
  width: 100%;
}

thead th {
  transform: rotate(-45deg);
  position: relative;
  left: 0.4rem;
  padding-bottom: 0.4rem;
  font-weight: 600;
  font-size: 95%;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

th, td {
  text-align: center;
}

td {
  padding: 0 0.2rem;
}

.cBox {
  padding-top: 0.6rem;
}

td > div {
  padding: 0;
  margin: 0;
}

.tName {
  padding: 0.6rem 0 !important;
}

.tMetrics {
  text-align: right;
  font-size: 0.7rem;
  white-space: nowrap;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;

}

.mValue, .badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  position: relative;
  top: -0.1em;
}

.mValue {
  vertical-align: bottom;
}
.mat-simple-snackbar span {
  color: white !important;
}
