:root {
  --primary: #1F8AF9;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #707070;
}

.dropdown-item {}

.vc-collapse {
  margin: 0;
  max-height: 30rem;
  overflow-y: auto;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
}

.vc-collapse::-webkit-scrollbar {
  width: 6px;
}
.vc-collapse::-webkit-scrollbar-track {
  background: transparent;
}
.vc-collapse::-webkit-scrollbar-thumb {
  background: #aaa;
  border: 2px solid transparent;
  border-radius: 3px;
}
.vc-collapse::-webkit-scrollbar-thumb:hover {
  background: #888;
}


.vc-collapse>li {
  list-style-type: none;
}

.vc-collapse .badge {
  vertical-align: text-top;
}

.vc-custom-dropdown-item {
  cursor: pointer;
  padding: 0.25rem 3px;
  border: 1px solid transparent;
}

.vc-custom-active {
  border: 1px dotted #007bff;
}

.vc-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.vc-dropdown-menu .mat-expansion-panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.vc-dropdown-menu .mat-expansion-panel-body {
  padding-bottom: 6px;
}

.vc-dropdown-menu .mat-expansion-panel-header {
  height: 2rem;
  font-size: 0.9rem;
}

#searchbar {
  text-transform: uppercase;
  border: none;
  font-size: 16px;
}
button{
  text-transform: uppercase;
  font-size: 14px;
}
.form-inline {
}

.form-group {
  padding: 0px;
}

.settings-frame {
  margin-top: 20px;
  float: right;
}

.content {
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 13px 13px 10px -10px rgba(130, 130, 130, 0.12);
  box-shadow: 13px 13px 10px -10px rgba(130, 130, 130, 0.12);
}

.content h4{
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
}

.content p{
  font-size: 12px;
  margin-bottom: 7px;
}

.content input{
  border: #707070 solid 1px;
  border-radius: 6px;
  width: 100%;
}
.content label{
width:100%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #1F8AF9;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1F8AF9;
}
