/**
* No view encapsulation
*/
.vc-collapse {
  margin: 0;
  max-height: 30rem;
  overflow-y: auto;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
}

.vc-collapse::-webkit-scrollbar {
  width: 6px;
}

.vc-collapse::-webkit-scrollbar-track {
  background: transparent;
}

.vc-collapse::-webkit-scrollbar-thumb {
  background: #aaa;
  border: 2px solid transparent;
  border-radius: 3px;
}

.vc-collapse::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.vc-collapse > li {
  list-style-type: none;
}

.vc-collapse .badge {
  vertical-align: text-bottom;
}

.vc-custom-dropdown-item {
  cursor: pointer;
  padding: 0.25rem 3px;
  border: 1px solid transparent;
}

.vc-custom-active {
  background-color: #e9ecef;
}

.vc-dropdown-menu {
  padding-right: unset;
  -webkit-box-shadow: 13px 13px 10px -10px rgba(130, 130, 130, 0.12);
  box-shadow: 13px 13px 10px -10px rgba(130, 130, 130, 0.12);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.vc-dropdown-menu .mat-expansion-panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.vc-dropdown-menu .mat-expansion-panel-body {
  padding-bottom: 6px;
}

.vc-dropdown-menu .mat-expansion-panel-header {
  height: 2rem;
  font-size: 0.9rem;
}

#settingMenuContainer {
  overflow: hidden;
}

#searchbar {
  text-transform: uppercase;
  border: none;
  font-size: 16px;
}

.defaultbtn {
  width: 100%;
  text-transform: uppercase !important;
  font-size: 12px !important;
  border-radius: 4px;
}

#settingsBtn {
  width: 100%;
}

.form-control {
  text-transform: uppercase;
  font-size: 12px;
  height: auto;
}

.btn-group {
  margin-bottom: 10px;
  margin-top: 10px;
}


@media (min-width: 768px ) {

  .btn-group {
    margin: unset;
  }

  .input-group {
    padding-right: unset !important;
  }
}

